<!DOCTYPE html>
<html lang="en">
<head>
<title>Sobre nossa chefe</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="estilo_sobre.css">
<link rel="shortcut icon" href="fotos/logo_redondo.png" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
    <div class="menu">
        <nav id="menu-h">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="#">Entrar</a></li>
            </ul>
        </nav>
      </div>
    
    <header>
      <h1>NOSSA CHEFE</h1>
    </header>

<section>
  <nav id="nav_ft" class="secao">
    <div id="div_ft">
        <img src="/fotos/chef.png" alt="" id="ft_chef">
    </div>
  </nav>

  <article>
    <h1>Michéle</h1>
    <p id="parag_chef">Iniciou sua jornada no meio gastronômico em 2008, como chef proprietária da MiCa Tapiocas. Desenvolveu as massas coloridas e saborizadas através de ingredientes naturais. 
        Em 2014, iniciou o curso de Gastronomia, ampliando seus conhecimentos e participando de feiras gastronômicas , eventos e trabalhos com grandes chefs da gastronomia brasileira como: Bela Gil, Casal Rueda (Jeferson e Janaína Rueda), Saiko Izawa, Olivier Anquier, Carlos Bertolazzi, Carla Pernambuco, Chef Vivi. Barista pela Starbucks e Roastelier by Nescafé Brasil.
        Trabalhou no Lollapalooza e Tomorrowland 2015, se especializando em gastronomia de grandes eventos. Trabalhou diretamente com o chef Carlos Tossi e com os fundadores da atual Churrascada.
        Chefiou alguns restaurantes e buffets de eventos para público 3A , premiados e com alta visibilidade pela imprensa de SP ou não. 
        Fez pós graduação em Gestão de Negócios Alimentícios com foco e resultados, pelo Senac.
        Inaugurou, criou cardápio, implementou sobremesas de sua criação em bistrô da cidade de Cotia.
        Sous chef em uma fábrica de alimentos que atendia clientes como Bullguer, Sérgio Arno, Netão, entre outros.
        Gerenciou restaurantes, confeitarias e lojas gastronômicas.
        Chefiou equipe em empresas como a Affari (um braço do Fasano), que atendem o meio corporativo com coffes, coquetéis, eventos e almoços de alta gastronomia
    </p>
  </article>
</section>

<footer class="footer">
  <div class="container">
   <div class="row">
     <div class="footer-col">
       <h4>Empresa</h4>
       <ul>
         <li><a href="#">Sobre nós</a></li>
         <li><a href="#">Nossos Serviços</a></li>
       </ul>
     </div>

     <div class="footer-col">
       <h4>Nossos Produtos</h4>
       <ul>
         <li><a href="#">Tapiocas</a></li>
         <li><a href="#">Lanches</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>Siga a Gente</h4>
       <div class="social-links">
         <a href="https://www.facebook.com/quentefriogastronomia"><img src="/fotos/fcb.png" class="fcb_img"></a>
         <a href="https://www.instagram.com/quentefriogastronomia/"><img src="/fotos/insta.png" class="insta_img"></a>
         <a href="https://www.ifood.com.br/delivery/cotia-sp/quente-e-frio-parque-mirante-da-mata/024b58d5-d1a5-4bda-8123-4d9b92e56508?utm_medium=share"><img src="/fotos/logo_ifood.png" class="ifood_img"></a>
         <a href="https://api.whatsapp.com/send/?phone=5511940662439&text&type=phone_number&app_absent=0"><img src="/fotos/wpp.png" class="wpp_img"></a>
        </div>
     </div>
   </div>
  </div>
</footer>

</body>
</html>