* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #100721;
    font-weight: 400;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
  }
  .container > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
  }
  .container > div:nth-of-type(1) {
    background: url("./fotos/cardapio_brasileirinho.png") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(2) {
    background: url("./fotos/combo_pulledpork.png") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(3) {
    background: url("./fotos/Geleia_pimenta.jpeg") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(4) {
    background: url("./fotos/Mcoco_Coco.jpeg") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(5) {
    background: url("./fotos/Mcuzcuz_Frango.jpeg") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(6) {
    background: url("./fotos/Mmorango_Morango1.jpeg") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(7) {
    background: url("./fotos/pra_galera.png") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(8) {
    background: url("./fotos/PulledPorkifood.jpeg") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(9) {
    background: url("./fotos/tapioca_carneseca_queijo.jpeg") no-repeat 50%/cover;
  }
  .container > div:nth-of-type(10) {
    background: url("./fotos/Tapioca_morango_nutella.jpeg") no-repeat 50%/cover;
  }
  
  
  
  .container > div .content {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: #02022e;
    background: linear-gradient(0deg, rgba(2, 2, 46, 0.6755077031) 0%, rgba(255, 255, 255, 0) 100%);
    transform: translatey(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    visibility: hidden;
  }
  .container > div .content span {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
  }
  .container > div:hover {
    flex: 0 0 350px;
    box-shadow: 1px 3px 15px #7645d8;
    transform: translatey(-30px);
  }
  .container > div:hover .content {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
  }

.opcao
{
    position: relative;
    overflow: hidden ;
    width: 300px;
    height: 350px;
    background-color: rgb(170, 158, 48);
}