
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  place-items: center;
}

.menu
{
    position:relative;
    padding-top: 0;
    margin-top: 0px;
    border-top: 0;
    top: 0px;
}

#menu-h{
    background-color: rgb(37, 37, 39);
    padding: 0;
    margin: 0 auto;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}


.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 45px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.fcb_img
{
  height: 100%;

}

.wpp_img
{
  height: 100%;
  border-radius: 10px;
}

.insta_img
{
  height: 100%;
}

.ifood_img
{
  height: 100%;
  border-radius: 20px;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #100721;
  font-weight: 400;
  
}

  /* Finalizando o Padrao*/

/* Create two columns/boxes that floats next to each other */
.secao {
  float: left;
  width: 30%;
  text-align: center;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
.secao ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height:100%;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  place-items: center;
  width: 100%;
}

#ft_chef
{
   height: 375px; /*500*/
   width: 250px;  /*750*/
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}



